body {
  background-color: #ecf0f1;
  color: #38383f;
}

.test-panel {
  padding: 40px;
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.34);
}

.test-panel > .description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8eb;
}

.test-panel section {
  margin-bottom: 40px;
}

section.test-results span {
  margin-right: 20px;
}